{#header.twig#}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=600px"/>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.css">
    <link rel="stylesheet" href="/app/assets/css/main.css">
    <script async="" src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.js"></script>
</head>
<body>
<div class="body">